<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1CxogSKd68Cg4tgxER1eq3vIsCmYOW-A</string>
	<key>GCM_SENDER_ID</key>
	<string>617048593807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentSensor</string>
	<key>PROJECT_ID</key>
	<string>smart-home-monitoring-e99e1</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-monitoring-e99e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617048593807:ios:56e2957a63ecc42752a7fa</string>
</dict>
</plist>